.enter_manually {
    color: #24a3c4;
    /*background-color: #7cc;*/
    border-color: #24A3C488;
    /*border: none;*/
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.enter_manually:hover {
    background-color: #24a3c4;
    border-color: #24A3C488;
    color: white;
    box-shadow: 0px 15px 20px #24A3C488;
    transform: translateY(-3px);
}

.import_csv{
    color: #1cad58;
    /*background-color: #7cc;*/
    border-color: #1CAD5889;
    /*border: none;*/
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.import_csv:hover {
    background-color: #1cad58;
    border-color: #1CAD5889;
    color: white;
    box-shadow: 0px 15px 20px #1CAD5889;
    transform: translateY(-3px);
}
.containerTop {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
}

.pageHeader {
    margin: 0 !important;
    font-size: 30px;
    font-family: Courier, monospace;
}

.manualQuestionsBox{
    width: 50vw;
    height: 100%;
    margin: auto;
    padding-bottom: 15% !important;
    padding-top: 5% !important;
}

.manualInputAlertText{
    font-size: 16px;
    font-weight: bold;
    margin: 0 !important;
}

.calculateResultsText{
    font-size: 16px;
}

.weekly_button {
    color: #1154CCFF;
    /*background-color: #7cc;*/
    border-color: #0b3886;
    /*border: none;*/
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.weekly_button:hover {
    background-color: #1154CCFF;
    border-color: #0b3886;
    color: white;
    box-shadow: 0px 15px 20px #0b3886;
    transform: translateY(-3px);
}

.monthly_button {
    color: #c40b0b;
    /*background-color: #7cc;*/
    border-color: #7a0707;
    /*border: none;*/
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.monthly_button:hover {
    background-color: #c40b0b;
    border-color: #7a0707;
    color: white;
    box-shadow: 0px 15px 20px #7a0707;
    transform: translateY(-3px);
}
